:root { /* Variável de cores */
    --primary-color: #3D45BF;
    --secundary-color: #f4f4f4;
    --terciary-color: #C7D9E8;
}

.viuvanegra {
    width: 100vw;
    height: 100vh;
    z-index: -999;
    position: absolute; /* Sempre deixar a imagem fixa na tela */
    transform: scaleX(-1); /* Deixar a imagem ao contrário */ 
    object-fit: cover; /* Faz a imagem ocupar toda a tela */ 
    object-position: top; /* Faz a imagem sempre ficar recortada na parte de baixo quando diminuir a tela */
}

/* ESTILIZAÇÃO DO FUNDO */
.blur {
    width: 100vw;
    height: 100vh;
    z-index: -998;
    position: absolute;
}

.blur2 {
    width: 24vw;
    height: 100vh;
    position: absolute;
    z-index: -998;
}

/* ESTILIZAÇÃO DO HEADER */
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px 130px 0px 100px;
}

.logo {
    width: 40px;
    height: 40px;
}

.cine {
    display: flex;
    align-items: center;
    gap: 10px;
}

.textocine {
    color: var(--secundary-color);
    font-family: Jaldi, sans-serif;
    font-size: 40px;
}

.botoestopo {
    display: flex;
    color: var(--terciary-color);
    font-size: 30px;
    font-family: Jaldi, sans-serif;
    gap: 40px;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--primary-color);
    padding: 12px 30px;
    border-radius: 50px;
    width: 300px;
}

.lupa {
    width: 25px;
    height: 25px;
}

.textolupa {
    color: #99A0E8;
    font-size: 22px;
    font-family: Inter, sans-serif;
}

.botoesmeio {
    display: flex;
    font-family: Jaldi, sans-serif;
    font-size: 22px;
    align-items: center;
    gap: 20px;
    width: 100%;
    order: 1;
    padding: 100px 0px 0px 0px;
}

.textoup {
    color: #DFB287;
    background-color: var(--primary-color);
    padding: 2px;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    font-weight: bold;
}

.textonow {
    color: var(--terciary-color);
}

.action {
    padding: 100px 0px 0px 0px;
    font-size: 30px;
    color: var(--secundary-color);
    font-family: Jaldi, sans-serif;
}

/* ESTILIZAÇÃO DO MAIN */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 130px 0px 95px;
}

.titulo {
    display: flex;
    color: var(--secundary-color);
    font-size: 50px;
    font-family: Gelasio, sans-serif;
    gap: 20px;
    font-weight: bold;
}

.widow {
    color: #EC2D4E;
}

.data {
    display: flex;
    color: var(--secundary-color);
    font-family: Jandi, sans-serif;
    gap: 8px;
    align-items: center;
    font-size: 22px;
}

.textodata {
    padding: 0px 4px 0px 0px;
}

.descricao {
    color: var(--terciary-color);
    font-size: 19px;
    width: 565px;
    line-height: 1.8; /* Muda o espaçamento das linhas */
    padding: 30px 0px 0px 0px;
}

.book {
    display: flex;
    font-family: Jaldi, sans-serif;
    font-size: 25px;
    align-items: center;
    gap: 60px;
    padding: 70px 0px 0px 0px;
    font-weight: bold;
}

.botaobook  {
    color: #C9EBFE;
    background-color: #23A9FE;
    padding: 6px;
    border-radius: 50px;
    width: 250px;
    text-align: center;
}

.textosee {
    color: #2867B0;
}

.avaliacoes {
    display: flex;
    align-items: center;
    color: var(--secundary-color);
    font-size: 30px;
    font-family: Jaldi, sans-serif;
    gap: 15px;
    padding: 70px 0px 0px 0px;
}

.imglogo {
    height: 80px;
    width: 80px;
}

.imgheart {
    height: 50px;
    width: 50px;
}

.textologo {
    padding: 0px 45px 0px 0px;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translateY(-450%);
}

.setaesq {
    margin-left: 20px;
}

.setadir {
    margin-right: 20px;
}

    /* ESTILIZAÇÃO DO TABLET */ 

@media(max-width: 1024px){

    .descricao, .setadir, .setaesq, .theatres, .topmovies{
        display: none;
    }

    header{
        flex-wrap: wrap;
        align-items: center;
        padding: 20px 20px 0px 20px;
    }

    .logo{
        height: 40px;
        width: 40px;
    }
    .textocine{
        font-size: 30px;
    }
    .botoestopo{
        justify-content: flex-end;
        font-size: 25px;
        gap: 10px;
        order: 2;
        padding: 0px 10px 0px 0px;
        width: 50%;
    }
    .search{
        align-items: center;
        height: 40px;
        width: 210px;
    }
    .lupa{
        height: 20px;
        width: 20px;
        align-items: center;
    }
    .botoesmeio{
        width: 50%;
        padding: 5px 0px 0px 0px;
        font-size: 18px;
    }
    .textoup{
        width: 150px;
        font-weight: bold;
    }
    .action{
        font-size: 25px;
        padding: 20px 0px 0px 0px;
    }

    main{
        padding: 20px 0px 0px 30px;
    }



    .botoes{
        transform: translateY(150%);
    }
}